
{% load chat_tags %}
{% load static from staticfiles %}


<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>svLeonardo</title>
		<link rel="shortcut icon" type="image/png" href="icon_here.png"/>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- CSS Style files; leave this until endif -->
		<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
{#		<link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">#}
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="{% static 'base.css' %}">
	</head>
	<body>
		<!--
			Some resources:
			  Examples:         http://getbootstrap.com/getting-started/#examples
			  This theme:       https://bootswatch.com/
			  Overview:         http://getbootstrap.com/components/
			  More CSS overv:   getbootstrap.com/css/
			  About grid:       http://getbootstrap.com/css/#grid
		-->

		<!-- Default menu -->
		<div class="container"> <!-- if you remove this, the menu will be wider -->
			<div id="header-menu-top" class="navbar-narrow hidden-xs hidden-sm">
				<nav class="navbar navbar-default">
					<ol class="nav navbar-nav navbar-left">
						<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
						<li><a href="#">Library</a></li>
						<li class="active"><a href="#">Data</a></li>
						<!-- #todo https://css-tricks.com/triangle-breadcrumbs/ -->
					</ol>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a></li><!-- Google Calendar -->
						<li><a href="#"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a></li> <!-- RSS -->
						<li><a href="#"><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span></a></li><!-- Facebook -->
						<li><a href="#"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span></a></li><!-- glyphicon glyphicon-text-size -->
						<li><a href="#"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span></a></li><!-- Language -->
					</ul>
				</nav>
			</div>

			<header id="header-image" class="hidden-xs hidden-sm">
				<div id="header-logo">
					<img src="http://www.olympus.science.ru.nl/media/images/logos/leonardo.png" />
				</div>
				<h1>Leonardo da Vinci</h1>
				<p>Studievereniging Natuurwetenschappen en Science Nijmegen</p>
			</header>

			<nav id="header-menu-main" class="navbar navbar-default">
				<!-- #todo: http://www.w3schools.com/bootstrap/bootstrap_affix.asp -->
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- <a class="navbar-brand" href="#">Leonardo</a> -->
					</div>


					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
							<li><a href="#">Link</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Separated link</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Account <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Separated link</a></li>
								</ul>
							</li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<!-- <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button> -->
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>

		<div class="container">
			<div class="row"> <!-- This is the grid system - it makes sure everything adapts to small windows, like phones -->
				<div class="col-xs-12 col-md-8">
					{% block content %}
						<!-- Content will go here (this is random from http://loripsum.net/api/12/medium/headers/link/ul/ol/bq/code/ ) -->

						<!-- Default menu -->
						<p>test</p>
					{% endblock content %}
				</div>

				<div class="col-xs-12 col-md-4">
					<!-- Here we can place sidebar things, like menus, birthdays, etc; -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Login</h3>
						</div>
						<div class="panel-body">
							<form>
								<div class="form-group">
									<label for="exampleInputEmail1">Login</label>
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox"> I'm awesome
									</label>
								</div>
								<button type="submit" class="btn btn-success pull-right">Login</button>
								<a class="btn btn-warning" href="/" role="button">Register</a>
							</form>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Birthdays</h3>
						</div>
						<div class="panel-body">
							<ul class="media-list">
								<li class="media">
									<div class="media-left">
										<div class="user_icon">
											<a href="#"> <!-- Class user_icon is defined above -->
												<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
											</a>
										</div>
									</div>
									<div class="media-body">
										<h4 class="media-heading">Mark V</h4>
										Head Python voodoo
									</div>
								</li>
								<li class="media">
									<div class="media-left">
										<div class="user_icon">
											<a href="#"> <!-- Class user_icon is defined above -->
												<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
											</a>
										</div>
									</div>
									<div class="media-body">
										<h4 class="media-heading">Peter C</h4>
										Soon-to-be Bootstrap expert
									</div>
								</li>
							</ul>
						</div>
					</div>

					{% display_chat 'wiskunde1' %}

					<!--Shoutbox-->
					{% block chat_widget %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Shoutbox</h3>
							</div>
							<div class="panel-body">
								<ul class="media-list">
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Mark V <span>gisteren</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Mark V <span>gisteren</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Mark V <span>gisteren</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Mark V <span>gisteren</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Mark V <span>gisteren</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://www.soompi.com/es/wp-content/blogs.dir/8/files/2014/01/Psy2.jpg" alt="Gangnam!">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Mark V <span>gisteren</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
									<li class="media chat_message">
										<div class="media-left">
											<div class="user_icon_chat">
												<a href="#"> <!-- Class user_icon is defined above -->
													<img class="media-object" src="http://assets.audiomack.com/roshoun/368f10d3bc23b82ed1b1a233ce0a977e.png" alt="Saiyan">
												</a>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Peter C <span>2 dagen geleden</span></h5>
											<h6 class="media-heading">Hey wadup, Mark V in da house! test</h6>
										</div>
									</li>
								</ul>
							</div>
						</div>
					{% endblock chat_widget %}



					<!--<div class="panel panel-default">-->
						<!--<div class="panel-heading">-->
							<!--<h3 class="panel-title">Leochat</h3>-->
						<!--</div>-->

    					<!--<div id="chatbox"></div>-->
    						<!--<form name="message" action="">-->
       							<!--<input name="usermsg" type="text" id="usermsg" size="63" />-->
        						<!--<input name="submitmsg" type="submit"  id="submitmsg" value="de WWWcie is geweldig" />-->
    						<!--</form>-->
						<!--</div>-->

						<!--<div class="panel-body">-->
							<!--<form class="form-inline">-->

							<!--</form>-->
						<!--</div>-->
					<!--</div>-->
				</div>
			</div>
		</div>

		<!-- Bootstrap and jQuery javascript; just leave this at the bottom -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script>
{#			$('#menu-scroll-bar').affix({#}
{#				offset: {#}
{#					top: $('header').height()#}
{#				}#}
{#			});#}
		</script>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				imageFont: null,
				extensions: ["tex2jax.js"],
				jax: ["input/TeX","output/HTML-CSS"],
				tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]},
				MathMenu: { showRenderer: false },
			});
		</script>
		<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</body>
</html>