
/* CSS style here */
/* Birthday or other profile images */
/* todo: replace by misc */
.user_icon
{
	width: 64px;
	height: 64px;
	overflow: hidden;
	position: relative;
	margin-right: 0.5em;
}

.user_icon img
{
	width: auto;
	height: 64px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/* Shoutbox profile images */
.user_icon_chat
{
	width: 32px;
	height: 32px;
	overflow: hidden;
	position: relative;
	margin-right: 0.5em;
}

.user_icon_chat img
{
	width: auto;
	height: 32px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.chat_message h5 span
{
	float: right;
}

/* Top menu bar with icons */
#header-menu-top .breadcrumb
{
	margin: 0;
}

#header-menu-top .breadcrumb li:not(.active) a
{
	color: inherit;
}

/* Image bar at the top */
#header-image
{
	height: 150px;
	letter-spacing: 3px;
	font-weight: bold;
	text-shadow: 0 0 2px white;
}

#header-image h1
{
	padding-top: .5em;
	font-size: 36px;
	margin: 0 0 0 150px;
}

#header-image p
{
	font-size: 24px;
	margin: 0 0 24px 150px;
	max-width: 650px;
}

#header-logo
{
	float: left;
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin-right: 1em;
}

#header-logo img
{
	margin: 15px;
	max-width: 120px;
	max-height: 120px;
}

#header-logo img:hover
{
	cursor: pointer;
	filter: drop-shadow(0 0 2px green);
}


